<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="js(scripts)">

    <script type="text/javascript" th:src="@{/sb-admin-2/vendor/jquery/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" th:src="@{/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" th:src="@{/sb-admin-2/js/sb-admin-2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert-dev.js}"></script>
</div>
</html>