<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>账户激活</title>
		<!-- 地址栏显示 -->
		<link rel="Shortcut Icon" th:href="@{/images/hospital.ico}" type="image/x-icon" />
		<!-- 收藏栏也显示 -->
		<link rel="Bookmark" th:href="@{/images/hospital.ico}" type="image/x-icon" />
		<link th:href="@{/css/fmail.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="fmail-brand">
			<img th:src="@{/images/hospitory.png}" alt="logo">
		</div>
		</br>
		<div class="mail">
			<div>
				<h3>已发送激活邮件</h3>
			</div>

			<div class="svg">
				<img th:src="@{/images/mail.svg}" />
			</div>
			</br>
			</br>

			<div>
				<h4>
					请前往邮箱<span th:text="${email}"></span> ，</br></br>务必在48小时内点击链接进行激活！
					</br>
					</br>
					<a th:href="${url}" class="link">已激活？登录</a>
				</h4>
			</div>

		</div>

	</body>
</html>
